header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   
    
}
header .logo
{
    color: black;
    background-color: aquamarine;
    font-weight: 1500;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
    background-color:greenyellow;
}